    /*GENERAL STYLES*/
    html {
        height: 100%;
    }header{
        background-color:$scnd-bg-color;
        
    }
    footer{
        background-color:$scnd-bg-color ;
        height: 100px; 
        overflow: hidden;
    }
    main {
        background-color: $body-bg-color;
    }
    body {
        background-color:$body-bg-color;
        background-size: cover;
        background-position: center;
        font-family:$font;
        min-height: 100%;
      }
    
    