/*STYLES USED IN MULTIPLE PAGES*/ 

.main-backround{
    background-color: $bg-color;
}
.titulo-principal{
    $spacing-medium: $spacing-medium;;
    color:$txt-color;
}
.topright-end{
    $spacing-medium: $spacing-medium;;
    display: flex;
    align-items: center;
}
.topright-end a{
    color:$txt-color;
    margin-right: 5px;
    font-size: 25px;
}
.carrito-small{
    width: $spacing-extra-large;
    padding: $spacing-medium;
}
