/*.horizontal-nav {
    margin: $spacing-medium;
    display: flex;
    align-items: center;
    h1{
        font-family:$font;
        color: $txt-color;
        margin-right: $spacing-small;
        font-size: $font-title;
    }
}
.left-section{
    margin-right: auto;
    a{
        text-decoration: none;
    }
}
.right-section{
    margin-left: $spacing-medium;
}*/
*{
  padding: 0;
  margin:0;
}

.topnav {
  background-color: $scnd-bg-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  a{
    text-decoration: none;
  }
  h1{
      font-size: $font-title;
      margin: 0;
      
  }
  > ul {
      margin-top: 15px;
      list-style: none;
      display: flex;
      justify-content: end;
      align-items: center;
       li { 
        color: $txt-color;
        position: relative;
        ul{
          margin-top: 15px;
          position: absolute;
          list-style: none;
          background-color: $bg-color;
          flex-direction: column;
          max-height: 0px;
          overflow: hidden;
          transition: 1s;
          a{
            text-align: center;
            font-size: 15px;
          }
        }
        a{
          text-decoration: none;
          color: $txt-color;
          text-align: center;
          padding: 10px 20px;
          font-size: $nav-font;
          &:hover + ul{
            color: $pmry-color;
            height: auto;
            max-height: 500px;
            align-content: center;
          } 
        }
        a:hover {
          background-color: $bg-color;
          color: $pmry-color;
        } 
        
        li:hover {
          background-color: $bg-color;
          color: $pmry-color;
        }
       
      }
      
  }   
}

.carrito-small{
  height: 100%;
  width: $spacing-extra-large;
}

  

