
    @import "colors";
    @import "font";
    @import "spacing";
    @import "navegador";
    @import "general";
    @import "multistyles";
    @import "productimg";
    @import "buttons";
    @import "general";
    @import "mediaqueries";
    

        /*INDEX STYLES*/
    
    .tarjeta {
        background-color: $body-bg-color; 
        overflow: hidden;
    }
    .sub-titulo-principal{
        color: $pmry-color;
        font-size: 25px;
        padding: 10px;
    }
    .product-title{
        color:$pmry-color;
    }
    .more-products{
        margin: 10px;
        display:flex;
        justify-content: end;
    }
    
        /*COMPRA STYLES*/
    
    .image-container2 {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 20px;
        color:$txt-color;
        text-align: center;
        gap: $spacing-large;
        margin-left: auto;
        margin-right: auto;
        img {
            width: 40%;
        }
        h4 {
            text-align: center;
        }
    }
    .product-description {
        margin-top: $spacing-medium;
        font-size: 20px;
        color:$txt-color;
        text-align: center; 
    }


    
        /*PRODUCTOS STYLES*/
    
    .grid-container{
        display: grid;
        grid-template-columns: 250px auto auto 200px;
        grid-template-rows: 100px auto auto auto;
    }
    .header-grid{
        background-color: $scnd-bg-color;
        grid-column: 1/5;
        grid-row: 1/2;
        height: 100px; 
        overflow: hidden;
    }
    .nav-grid{  
        grid-column: 1/1;
        grid-row: 2/4;
        align-items: baseline;
        background-color:$bg-color;
    }
    .nav-categories{
        display: flex;
        flex-direction: column;
        background-color:$pmry-color;
        color: $txt-color;
        padding: $button-padding;
        border: none;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        margin: 10px;
        cursor: pointer;
        border-radius: $button-border-radius;
    }
    .main-grid{
        grid-column: 2/4;
        grid-row: 2/4;
        margin: 10px;
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0);
    }
    .publicity-grid {
        grid-column: 4 / 5;
        grid-row: 2 / 5;
        display: flex;
        flex-direction: column;
    
        align-items: center;
    }
    .publicity-img img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }
    .footer-grid{
        grid-column: 1/5;
        background-color:rgba(18, 18, 19, 0.918);
        height: 100px; 
        overflow: hidden;
    }
    .product-shower {
        display: grid;
        grid-template-columns:repeat(3,minmax(200px, 250px));
        gap: 10px;
        justify-content: space-around;
    }  
    .product {
        background-color: rgb(48, 49, 49);
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
        text-align: center;
        img {
            width: 100%;
            max-height: 100%;
            border-radius: 5px;
            object-fit: scale-down;
        }
        h2 {
            color: rgb(255, 241, 225);
            margin: 10px;
            border: 2px solid #f45236;
        
        }
        .price {
            font-size: 20px;
            font-weight: bold;
            color: rgb(255, 241, 225);
        }
    }

        /*CONTACTOS STYLES*/
    .sub-titulo {
        font-size: $font-secondary-title;
        color: $txt-color;
        margin: $spacing-large;
    }
    .contactos-caja {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        color:  rgba(255, 241, 225, 1);
        flex-wrap: wrap;
    }
    .contactos-info {
        justify-content: center;
        display: flex;
        flex-direction: column;
        textarea {
            width: 300px;
        }
    }
    .contactos-info2 {
        justify-content: center;
        display: flex;
        flex-direction: column;
        margin-left: 100px;
    }
    .contactos-inputs {
        display: flex;
        flex-direction: column;
    }
    
        /*UNUSED STYLES*/
    
    .product-details {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
 
    
 